nav{
    user-select: none;
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    background-color: black;
    color: var(--title);
}
nav h1{
    font-size: 40px;
}
nav .right-side{
    display: flex;
    gap: 20px;
}
nav svg{
    margin-right: 20px;
}
nav svg:hover{
    color: #ffcc00;
    cursor: pointer;
}

.dropdown{
    user-select: none;
    /* display: none; */
    position: absolute;
    background-color: var(--item-bg);
    padding: 10px 30px 10px 10px;
    border-radius: 10px 0 10px 10px;
    top: 65px;
    right: 30px;
    opacity: 0;
    transition: opacity 0.1s;
}
.active{
    /* display: block; */
    opacity: 1;
    transition: opacity 0.1s;
}
.dropdown a{
    text-decoration: none;
    color: var(--txt-color);
}
.dropdown a:hover{
    background-color: #3c3940;
    cursor: pointer;
}